@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Roboto:ital,wght@0,400;0,500;0,900;1,500&display=swap');

body {
    background-image: url("https://cdn.dribbble.com/users/1761137/screenshots/3665783/dribbble.gif");
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}

#root {
    background-color: rgba(222, 226, 230, 0.35);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 70%;
}

.weatherbox {
    border: solid 5px #f4d06f;
    border-radius: 30px;
    background-color: #9dd9d2;
    margin-bottom: 2em;
    width: 70%;
    height: 25%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;

    font-size: 1.8em;
}

.LocationBtn {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    padding: 10px;
    margin-right: 5px;
}

.LocationBtn:last-child {
    margin-right: 0;
}

.buttonBox {
    width: 80%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
}

#select {
    background-color: #9dd9d2;
    color: #495057;
    border-color: #9dd9d2;
}

.errorMsg {
    font-size: 4em;
    font-weight: 900;
    color: white;
    background-color: black;
    padding: 0.5em 1em;
    border-radius: 30px;
    text-align: center;
}

@media (max-width : 710px) {
    .weatherbox {
        width: 80%;
        font-size: 1.5em;
    }

    .LocationBtn {
        font-size: 0.8em;
    }

    .buttonBox {
        width: 70%;
    }

    .errorMsg {
        font-size: 2em;
    }
}

@media (max-width : 580px) {
    .weatherbox {
        width: 100%;
        font-size: 1.2em;
    }

    .LocationBtn {
        padding: 5px;
        font-size: 0.6em;
    }

    .buttonBox {
        width: 100%;
    }
}